<div class="control form-inline">
  <a href="#" class="btn" id="gear-new">New</a>

  <div class="input-prepend">
    <span class="add-on">Teeth</span>
    <input type="number" class="input-medium" id="gear-teeth" placeholder="32" min="0" step="1">
  </div>
  <div class="input-prepend">
    <span class="add-on">Radius</span>
    <input type="number" class="input-medium" id="gear-radius" placeholder="80.0" min="0" step=".1">
  </div>

  <label class="checkbox inline">
    <input type="checkbox" id="gear-second" value="1"> Second gear
  </label>

  <a href="#" class="btn" id="gear-update">Update</a>

  <a href="#" class="btn pull-right" id="gear-save">Save for later</a>
</div>