<div class="control form-inline">
  <div class="input-prepend">
    <span class="add-on">Teeth</span>
    <input type="number" class="input-medium" id="gear-teeth" placeholder="32" min="0" step="1">
  </div>
  <div class="input-prepend">
    <span class="add-on">Radius</span>
    <input type="number" class="input-medium" id="gear-radius" placeholder="80.0" min="0" step=".1">
  </div>
</div>